<div class="col-lg-12 content">
    <div class="row hero-wrapper">
      <div class="hero">
        <div class="col-lg-9 col-md-12 carousel">
          <div class="images">
            <img src="http://www.plang.com.br/riseup/images/carousel/image1.jpg" alt="">
          </div>
          <div class="description-wrapper">
            <h2>Home</h2>
            <p>
              <% @users.each do |user| %>
                <p>User: <%=link_to user.name, user %></p>
              <% end %>
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 donate-wrapper">
          <h2>
            Donate
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, sunt tempora iste mollitia eos velit nihil quas quis deleniti quos nostrum quia asperiores voluptates earum perferendis distinctio voluptatum. Nam, itaque.
          </p>
          <form action="" class="form">
            <div class="form-group">
              <input type="text" name="" class="form-control" />  
            </div>
            
            <button class="btn btn-red">Donate Now</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row carousel-thubnails">
      <ul>
        <li><img src="http://www.plang.com.br/riseup/images/carousel-thumbnails/img1.jpg" alt=""></li>
        <li><img src="http://www.plang.com.br/riseup/images/carousel-thumbnails/img1.jpg" alt=""></li>
        <li><img src="http://www.plang.com.br/riseup/images/carousel-thumbnails/img1.jpg" alt=""></li>
        <li><img src="http://www.plang.com.br/riseup/images/carousel-thumbnails/img1.jpg" alt=""></li>
        <li><img src="http://www.plang.com.br/riseup/images/carousel-thumbnails/img1.jpg" alt=""></li>
        <li><img src="http://www.plang.com.br/riseup/images/carousel-thumbnails/img1.jpg" alt=""></li>
        <li><img src="http://www.plang.com.br/riseup/images/carousel-thumbnails/img1.jpg" alt=""></li>
      </ul>
    </div>  
  </div>
  
</div>
